article, figure {
	display: inline-block;
	vertical-align: middle;
	width: 75%;
}

body{
	background: #f5f5f5;
	color: #f5f5f5;
}

figure {
	margin-left: 5%;
	height: 90px;
	width: 12%;
	line-height: 32px;
}

figcaption {
	font-size: 17px;
	font-weight: bold;
	margin-top: -11px;
}

img {
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0.6);
	box-shadow: 0px 0px 2px 2px #f5f5f5;
	margin-top: 7px;
}
section {
	background: hsl(197, 98%, 37%);
	border-bottom: 11px solid rgba(24, 134, 130, 0.9);
}