doctype html
html(lang="es")
    head
        meta(charset="utf-8")
        title Mejorandola - Tweets                
        script(src="vendor/prefix-free/prefixfree.min.js")
        link(rel="stylesheet", href="vendor/normalize-css/normalize.css")        
        link(rel="stylesheet", href="styles/main.css")        
    body        
        section
            figure
                img
                figcaption
            article
        script(src="socket.io/socket.io.js")
        script(src="vendor/jquery/jquery.min.js")        
        script(src="scripts/main.js")